<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script>
        $(function () {
            $("header").load("{{url_for('header')}}");
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            var originalText = $("#output").text();

            var processedText = originalText.replace(/_/g, ' ');

            $("#output").text(processedText);
        });
    </script>
    <script>
        $(document).ready(function () {

            var originalText = $("#output").text();


            var words = originalText.split(' ');


            var processedText = words.map(function (word) {
                return word.charAt(0).toUpperCase() + word.slice(1);
            });


            processedText = processedText.join(' ');


            $("#output").text(processedText);
        });
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
            color: rgb(15, 10, 10);
        }

        .imageside {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            align-content: center;
            justify-items: center;

        }
    </style>
</head>

<body>
    <header></header>
    <div class="imageside">
        <p id="output">The dog breed is: {{prediction_text}}</p>

    </div>



</body>

</html>